html,body {
    margin: 0px;
    height: 100%;
}

.app {
    display: flex;
    column-count: 2;
    height: 100%;
}
.verticalBanner {
    background: white;
    border: black 1px solid;
    flex: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.main {
    background: black;
    flex: 66%;
    display: flex;
    padding-right: 10%;
    align-items: center;
    justify-content: start;
}

.selectionBoxes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    align-items: center;
    margin-left: -15%;
    margin-right: -15%;
    height: 100%;
    width: 100%;
}

.btn {
    background: white;
    border-radius: 4px;
    border: darkgray 3px solid;
    box-shadow: darkgray;
    width: 70%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2em;
    font-family: "Inconsolata", "Times New Roman";
}


.btn:hover {
    background: #4285F4;
    border: darkblue 3px solid;
    box-shadow: none;
    transition: 0.5s;
    cursor: pointer;
}

.btn:hover .svgBg{
    fill: white;
    transition: 0.5s;
}
.btn:hover .svgShape{
    fill: #4285F4;
    transition: 0.5s;
}

.active{
    background: #4285F4;
    border: darkblue 3px solid;
    box-shadow: none;
    transition: 0.5s;
    cursor: pointer;
}
.active .svgBg{
    fill: white;
    transition: 0.5s;
}
.active .svgShape{
    fill: #4285F4;
    transition: 0.5s;
}

.box {
    background: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    width: 35%;
    height: 30%;
}

.infoScreenBg {
    background: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 10%;
    width: 80%;
    height: 50%;
}

.infoScreens {
    background: white;
    border-radius: 8px;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.hidden {
    display: none;
}